<p id="notice"><%= notice %></p>
<H2><%= @job.title %></H2>
<p>Posted: <%= @job.created_at.to_date %> Deadline:<%= @job.deadline %> </p>
<div class="container">
  <table class="table">
  <tr>
    <td> <strong>Job type:</strong></td>
    <td><%= @job.job_type %></td>
    <td><strong>Occupation:</strong></td>
    <td><%= @job.occupation %></td>
  </tr>
  <tr>
    <td><strong>Company Name:</strong></td>
    <td><%= @job.company_name %> </td>
    <td><strong>Location:</strong></td>
    <td><%= @job.location %></td>
  </tr>
  <tr>
    <td><strong>Url:</strong></td>
    <td colspan="3"><a href="<%= @job.url %>"><%= @job.url %></a></td>
  </tr>
  <tr>
    <td><strong>Description:</strong></td>
    <td colspan="3"><%= @job.description %></td>
  </tr>
  <tr>
    <td colspan="4">
      <strong>Apply information:</strong><br/>
      <%= @job.apply_information %>
    </td>
  </tr>
</table>
</div>



<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
